.header-container {
    width: 100%;
    height: 45px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    margin: 15px auto;
    align-items: center;
    padding: 5px 220px;
    gap: 16px;
    font-size: 24px;
    color: black;
}

.header-icons svg:hover {
    cursor: pointer;
}

