.carousel-container {
    padding: 30px 0;
    color: white;
    text-align: center;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1);
}

/* Área que agrupa imagem + texto */
.carousel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 16px 16px 0 0;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    text-decoration: none;
}

/* Slide individual */
.carousel-slide {
    position: relative;
    flex: 1;
}

/* Imagem principal do produto */
.carousel-image {
    width: 100%;
    max-width: 500px;
    border-radius: 16px;
}

/* Nome do produto */
.carousel-label {
    color: #e01a22;
    padding: 12px 0;
    border-radius: 0 0 16px 16px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    text-decoration: none;
}

/* Texto lateral */
.carousel-text {
    flex: 1;
    text-align: left;
    padding-left: 40px;
    text-decoration: none;
}

/* Título principal */
.carousel-text h2 {
    color: #e01a22;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
}

/* Navegação do carrossel */
.carousel-nav {
    position: absolute;
    right: 650px;
    bottom: 20px;
    display: flex;
    gap: 12px;
}

.carousel-nav button {
    color: #e01a22;
    border: 1px solid #e01a22;
    font-size: 14px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    background: white;
    transition: background 0.3s;
}

.carousel-nav button:hover {
    color: white;
    background: #e01a22;
}

.carousel-wrapper {
    position: relative;
    z-index: 1; /* acima do fundo */
}